# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Uploads
uploads/*
!uploads/.gitkeep

# Runtime
pids
*.pid
*.seed

# Testing
coverage

# Production
dist
build

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
